.userid{
margin: 120px;
margin-left: 10px;
border-radius: 5px;
}
.user{
    margin-left: 5px;
    position: relative;
    bottom: 150px;
    left: 410px;
    border-radius: 5px;
}
.name{
    position: relative;
    right: 100px;
    
}
.us{
    position: relative;
    right: 193px;
    bottom: 70px;
    border-radius: 5px;
}
#don{
position: relative;
right: 210px;
bottom: 70px;

}
.dean{
    position: relative;
    right: 170px;
    bottom: 70px;
    
}
.din{
position: relative;
bottom: 105px;
left: 418px;
border-radius: 5px;
}
.ban{
    width: 200px;
    position: relative;
    right: 165px;
    bottom: 20px;
    border-radius: 5px;
}
.pop{
    position: relative;
    right: 200px;
    bottom: 25px;
    
}
.contact{
    position: relative;
    right: 138px;
    bottom: 25px;
    
}
.bob{
    position: relative;
    left: 420px;
    bottom: 58px;
    border-radius: 5px;
}
.tp{
position: relative;
right: 200px;
top: 30px;

}
.nb{
position: relative;
right: 175px;
top: 30px;
border-radius: 5px;
}
.gm{
position: relative;
right: 140px;
top: 30px;
}
.mg{
position: relative;
right: 105px;
top: 30px;
}
.fg{
    position: relative;
    right: 100px;
    top: 30px;
}
.hop{
    position: relative;
    right: 90px;
    top: 30px;
}
.hod{
    position: relative;
    right: 80px;
    top:30px;
}
.ball{
    position: relative;
    left: 5px;
    top: 80px;
}
.cop{
    position: relative;
left: 50px;
top: 80px;
border-radius: 5px;
}
.pol{
    position: relative;
    right: 200px;
    bottom: 28px;
}
.company{
    position: relative;
    right: 230px;
    bottom: 15px;
    border-radius: 5px;
}
.cont{
    position: relative;
    bottom: 20px;
    right: 200px;
}
.hot{
    position: relative;
    left: 560px;
    bottom: 5px;
}
.cope{
    position: relative;
    left: 95px;
    top: 70px;
    border-radius: 5px;
}
.nf{
    position: relative;
    right: 183px;
    top: 30px;
    border-radius: 5px;  
}
.bal{
    position: relative;
    
    top: 110px;
    right: 470px;

}